-- data/manual-hospitals.json ???댁쁺 ?ъ엯??SQL
-- npm run sql:manual-hospitals 濡??앹꽦?덈떎. ?먯쑝濡?怨좎튂吏 留먭퀬 JSON ??怨좎퀜 ?ㅼ떆 戮묐뒗??
-- ??踰??ㅽ뻾?대룄 寃곌낵媛 媛숇떎(upsert + 吏꾨즺?쒓컙 ?ъ궫??.
begin;

-- 媛뺤꽌?몃Ⅸ轅덉꽦紐⑥뼱由곗씠蹂묒썝
delete from public.hospital_weekly_hours where hospital_id = 'm9282197f1e24';
-- 吏꾨즺?쒓컙 ?놁쓬 ??'吏湲??댁뿀?????듯븷 ???녿떎. ?뺤씤?섎㈃ JSON ??怨좎퀜 ?ㅼ떆 戮묐뒗??

-- ?곗꽭?섏썝
delete from public.hospital_weekly_hours where hospital_id = 'm217ad1d6a74d';
-- 吏꾨즺?쒓컙 ?놁쓬 ??'吏湲??댁뿀?????듯븷 ???녿떎. ?뺤씤?섎㈃ JSON ??怨좎퀜 ?ㅼ떆 戮묐뒗??
-- 嫄대꼫?: 留덇끝 濡쒕??뚯븘泥?냼?꾧낵 (?대쫫쨌?쒓뎔援?룹＜?뙿룹쟾?붽? 紐⑤몢 ?덉뼱???⑸땲??

commit;

-- ?뺤씤
select id, name, tel, sigungu from public.hospitals where source = 'manual' order by name;
-- ??2??
